[package]
name = "game-builder"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#azure_core = "0.13.0"
#azure_identity = "0.13.0"
#azure_storage = "0.13.0"
#azure_storage_blobs = "0.13.1"
chrono = "0.4.*"
dotenvy = "0.15.*"
reqwest = { version = "0.11.*", features = ["stream", "blocking"] }
serde = { version = "1.*", features = ["derive"] }
serde_json = "1.*"
sha2 = "0.10.*"
tokio = { version = "1.*", features = ["macros", "rt-multi-thread"] }
